
<div class="well" style="background: rgba(255, 255, 255, 0.5);">
  <p id="notice"><%= notice %></p>

    <h2>Reservations created by <%= current_user.username %></h2>

    

      
        <% @meetings.each do |meeting| %>
         <% if meeting.username == current_user.username %>
              <%if meeting.start_time != nil %>
        
          <div class="row">
              <div class="col-md-5">
              <div class="well"> 
              <ul>
                <li><strong><%= meeting.name %></strong></li>
                <%= meeting.start_time.strftime(" %A, %B %d, %Y") %><br />
                <%= meeting.start_time.strftime("%I:%M%p") %> - 
                <%= meeting.end_time.strftime("%I:%M%p") %><br /> 
                
                
                <%= link_to 'Show', meeting, class: 'btn btn-success'  %> |
                <%= link_to 'Edit', edit_meeting_path(meeting), class: 'btn btn-warning'  %> |
                <%= link_to 'Destroy', meeting, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
              </ul>
              </div>
            </div>
          </div>
          <% end %>
         <% end %>
        <% end %>
      
 

    <br>

    <%= link_to 'New Meeting', new_meeting_path, class: 'btn btn-info' %>
  </div>  